<h1 class="text-center mb-0">Galerija</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <button type="button" class="btn btn-primary btn-lg btn-block" style="border-color: rgb(46, 46, 255); border-width: 0.1rem;" routerLink="upload">Upload</button>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <button type="button" class="btn btn-primary btn-lg btn-block" style="border-color: rgb(46, 46, 255); border-width: 0.1rem;" routerLink="gallery">Gallery</button>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>